# SPDX-FileCopyrightText: 2025 Pavel Dimov <@sagat79>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=LittleLink Server Container
Documentation=https://github.com/timothystewart6/littlelink-server
After=docker.service
Requires=docker.service
{% if littlelink_server_systemd_required_services_list %}
Requires={{ littlelink_server_systemd_required_services_list | join(' ') }}
{% endif %}
{% if littlelink_server_systemd_wanted_services_list %}
Wants={{ littlelink_server_systemd_wanted_services_list | join(' ') }}
{% endif %}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker run --rm --name {{ littlelink_server_identifier }} \
  --network {{ littlelink_server_container_network }} \
{% if littlelink_server_container_http_host_bind_port %}
  -p {{ littlelink_server_container_http_host_bind_port }}:{{ littlelink_server_container_http_port }} \
{% endif %}
{% for network in littlelink_server_container_additional_networks %}
  --network {{ network }} \
{% endfor %}
{% for volume in littlelink_server_container_additional_volumes %}
  --mount type={{ volume.type }},src={{ volume.src }},dst={{ volume.dst }}{% if volume.options %},{{ volume.options }}{% endif %} \
{% endfor %}
  --env-file {{ littlelink_server_base_path }}/env \
  --label-file {{ littlelink_server_base_path }}/labels \
  --restart unless-stopped \
  --security-opt no-new-privileges:true \
  {{ littlelink_server_container_image }}

ExecStop=/usr/bin/docker stop {{ littlelink_server_identifier }}
ExecStopPost=/usr/bin/docker rm {{ littlelink_server_identifier }}

[Install]
WantedBy=multi-user.target

